:root {
  --bgcolor: #fff;
  --hcolor: #000;
  --pcolor: #93918f;
  --bcolor: #fdb755;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: 'Bitter', serif;
  color: var(--hcolor);
}

p {
  font-family: 'Montserrat', sans-serif;
  color: var(--pcolor);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--pcolor);
}

button {
  background-color: var(--bcolor);
  color: var(--bgcolor);
  border: none;
}
